
  <!-- Top Navigation -->
  <div class="container-fluid topnav">
    <div class="row">
    <p class="col-4">
      <img src="assets/img/bookmark1.png" width="60px">
      <span style="color: #4f7bfc;padding: 0 0 0 10px;">Bookmarker's</span> Manager</p>
    <div class="col-7">
        <input type="text" class="form-control search-box" placeholder="Search">
        <!-- <span class="glyphicon glyphicon-search search-icon"></span> -->
    </div>
    </div>
  </div>
  
  <!-- main container -->
    <div class="container-fluid main"> 
      <div style="max-width: 10vw;">
        <nav class="nav flex-column">
          <a class="nav-link active" href="#">Active</a>
          <a class="nav-link" href="#">Link</a>
          <a class="nav-link" href="#">Link</a>
          <a class="nav-link disabled" href="#">Disabled</a>
        </nav>
      </div>
      <div style="max-width: 25vw;">
        <ul class="list-group">
          <li class="list-group-item active">Cras justo odio</li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
          <li class="list-group-item">Morbi leo risus</li>
          <li class="list-group-item">Porta ac consectetur ac</li>
          <li class="list-group-item">Vestibulum at eros</li>
          <li class="list-group-item">Cras justo odio</li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
          <li class="list-group-item">Morbi leo risus</li>
          <li class="list-group-item">Porta ac consectetur ac</li>
          <li class="list-group-item">Vestibulum at eros</li>
          <li class="list-group-item">Cras justo odio</li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
          <li class="list-group-item">Morbi leo risus</li>
          <li class="list-group-item">Porta ac consectetur ac</li>
          <li class="list-group-item">Vestibulum at eros</li>
        </ul></div>
      <div style="max-width: 65vw;">
        <div class="blog cardbox col-lg-10 col-md-10 col-sm-10 col-xs-10 p2">
          <div class="top-set">
            <p class="url-icon"><img src="assets/img/css.png"></p>
            <p class="date">12 Jan,2020</p>
          </div>
          <h3>How To Replace Your Python For Loops with Map, Filter, and Reduce</h3>
          <a href="" class="url">https://stackoverflow.com/questions/23535329/limit-the-number-of-words-in-a-div/23535452</a>
          <p class="para">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quod non et veritatis, eum inventore aspernatur voluptates quos odio vitae. Commodi nemo inventore nam laboriosam cumque non, 
              error aperiam. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat labore numquam reiciendis voluptatum consequuntur nam sed inventore doloremque vel neque, ducimus distinctio aperiam in vitae at enim, aliquam iste soluta.
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est aspernatur ab repellendus deserunt pariatur nulla asperiores, facilis ipsa distinctio veniam, libero ex omnis eum laboriosam quam voluptatum suscipit aliquid voluptate!<br>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae cupiditate illo nesciunt optio praesentium. Suscipit, et ipsam rerum ducimus voluptate laboriosam ratione voluptatem quod accusamus, iure provident repudiandae natus! Deleniti!<br><br>
          </p>
              <figure>
                <pre class="code">
                    <code>
                       Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem iusto mollitia amet assumenda nihil. Voluptatem pariatur voluptatibus velit. Et asperiores eaque labore, iusto porro placeat ipsum nobis error reiciendis illum?
                      </code>
                </pre>
              </figure>
             <p class="para"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Non ea dolorum repudiandae harum nemo adipisci, dolore, nulla enim nesciunt quibusdam facilis magnam similique excepturi quam quia possimus ratione tenetur vel.
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, asperiores! Reprehenderit animi quia suscipit natus, quo, nihil, accusamus voluptas debitis assumenda in eaque nam odit perferendis beatae vitae omnis laborum.
             
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Non ea dolorum repudiandae harum nemo adipisci, dolore, nulla enim nesciunt quibusdam facilis magnam similique excepturi quam quia possimus ratione tenetur vel.
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, asperiores! Reprehenderit animi quia suscipit natus, quo, nihil, accusamus voluptas debitis assumenda in eaque nam odit perferendis beatae vitae omnis laborum.
              
             </p>
             <figure>
                <pre class="code">
                    <code>
                       Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos dolorum vitae, modi omnis quasi dicta at, eum maxime aliquam obcaecati fuga? Molestiae quos voluptatem maiores fugiat et cumque architecto consectetur?
                    </code>
                </pre>
              </figure>
              <p class="para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, cumque, explicabo laudantium neque doloremque vero veritatis, libero eaque voluptatibus voluptate quaerat ea et facere tempora dolor commodi earum sequi consequuntur?
              </p>
              <div class="btn-box">
                <button class="btn"><i class="fa fa-trash-o"></i> Delete</button>
                <button class="btn"><i class="fa fa-share-alt"></i> Share</button>
              </div>
              
        </div> 
      </div>    
    </div>